<p>
    <span style="font-family: Courier New;; color: rgb(0, 0, 0); font-size: 14px;"><b>
            Data Visualization Examples with p5.js</b></span>
            <br></p>
            <table class="table table-bordered">
      <tbody><tr>
          <td><a href="/WordCloud"><button><font face="Courier New">WordCloud</font></button></a></td>
          <td><a href="/GraphModel"><button><font face="Courier New">Graph Model</font></button></a></td>
          </tr>
          <tr>        </tr>
          <tr>
          <td><a href="/about"><button><font face="Courier New">About</font></button></a></td>
      </tr></tbody></table>
  <p><br></p>