<html>
  <head>
    <title>P5 Wordcloud</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
  </head>
  <body>

<script src="files/sketch.js"></script>

  </body>
</html>